@import '../../../styles/variables.scss';

.analytics-container {
  position: fixed;
  left: 30px;
  top: 30px;

  &__item {
    color: $color-primary;
    display: block;
    white-space: nowrap;
    border-right: 2px solid;
    width: 200px;
    opacity: 0;
    animation: typing 4s steps(20) alternate forwards, blink 5s forwards step-end alternate;
    overflow: hidden;
  }

  &__item:nth-child(2) {
    width: 250px;
    animation-delay: 3s;
  }

  &__item:nth-child(3) {
    width: 300px;
    animation-delay: 2s;
  }
}

.general-border {
  position: fixed;
  border: 2px solid $color-primary;
  z-index: 101;
  inset: 15px;
  pointer-events: none;
  opacity: 0.65;
}

.window {
  position: fixed;
  inset: 0;
  z-index: 101;
  pointer-events: none;
  box-shadow: inset 0px 0px 150px rgb(64, 92, 90);
}

.metrics-container {
  position: fixed;
  bottom: 30px;
  right: 50px;
  display: flex;
  align-items: flex-end;
  gap: 15px;

  &__item {
    width: 8px;
    height: 100px;
    background-color: $color-dark;
    border: 1px solid $color-primary;
    position: relative;
  
    &::after {
      content: "";
      position: absolute;
      background-color: $color-primary;
      inset: 0;
      transform: scaleY(0);
      transform-origin: bottom;
      animation: 1s loading infinite linear alternate forwards;
    }
  }

  &__item:nth-child(2) {
    height: 75px;

    &::after {
      animation-delay: 0.5s;
    }
  }

  &__item:nth-child(1) {
    height: 50px;
    &::after {
      animation-delay: 2s;
    }
  }
}

@keyframes typing {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes loading {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@media screen and (max-width: 909px) {
  .metrics-container {
    display: none;
  }

  .analytics-container {
    display: none;
  }
}
